<launch>
  <param name="robot" type="str" value="Omnirob" />
  <node pkg="kuka_manager" type="kuka_manager" name="kuka_manager" output="screen">     
    <param name="portFrontLaser" type="int" value="34791" />
    <param name="portRearLaser" type="int" value="34792" />
    <param name="portOdometry" type="int" value="34789" />
    <param name="host" type="str" value="localhost" />
    <param name="port" type="int" value="60000" />
  </node>

  <node pkg="omnirob_java_controller" type="start_controller" name="omnirob_java_controller" output="screen">  
  </node>   
</launch>
