Database 									true 	stdbuf -o0 roslaunch --wait neurobots_launch database_iros1.launch
Goal___Planner___GUI___(iros1,___auto)		false 	stdbuf -o0 roslaunch --wait goal_planner_gui goal_planner_gui_iros1.launch auto:=--autoexecute
Goal___Planner___GUI___(iros1)				false 	stdbuf -o0 roslaunch --wait goal_planner_gui goal_planner_gui_iros1.launch 
	Fake___Robot___Interface				false 	stdbuf -o0 roslaunch --wait goal_planner_gui fake_action_executor.launch
Perception
	Left___Shelf___Camera 					true 	stdbuf -o0 roslaunch --wait neurobots_launch shelf_left_camera.launch
	Right___Shelf___Camera 					true 	stdbuf -o0 rosrun neurobots_launch start_camera_selector_control_laptop shelf_right
	omniRob___Camera 						true 	stdbuf -o0 roslaunch --wait neurobots_launch omnirob_camera_extern.launch
	Face___Camera  							true 	stdbuf -o0 roslaunch --wait neurobots_launch face_camera_extern.launch
	Table___Camera 							false 	stdbuf -o0 roslaunch --wait neurobots_launch table_camera.launch
	Overview___Camera 						false 	stdbuf -o0 rosrun neurobots_launch start_camera_selector_control_laptop overview
	Transformation___Publisher 				true 	stdbuf -o0 roslaunch --wait neurobots_launch transformations.launch
Robot
	Map___Server							true	stdbuf -o0 roslaunch --wait neurobots_launch map_server.launch
	Laser___Map___Converter					false	stdbuf -o0 roslaunch --wait neurobots_launch laser_map.launch
	omniRob									true	stdbuf -o0 roslaunch --wait neurobots_launch omnirob_gui.launch
		SDH									true	stdbuf -o0 roslaunch --wait neurobots_launch sdh_gui.launch
		Arm___Planning 						true 	stdbuf -o0 roslaunch --wait neurobots_launch motion_planning.launch
		Base___Planning 					true 	stdbuf -o0 roslaunch --wait neurobots_launch base_planner.launch
	Localization							true	stdbuf -o0 roslaunch --wait neurobots_launch localization.launch
Tools
	Add___cupletters___and___waterbottle	false	stdbuf -o0 rosrun neurobots_scenario add_cupletters_and_waterbottle
	Fill___cupletters						false	stdbuf -o0 rosrun neurobots_scenario fill_cupletters
	Fill___waterbottle						false	stdbuf -o0 rosrun neurobots_scenario fill_waterbottle
	Empty___cupletters						false	stdbuf -o0 rosrun neurobots_scenario empty_cupletters
	Move___robot___to___nowhere				false	stdbuf -o0 rosrun neurobots_scenario move_robot_to_nowhere
	Position(cupletters)=table1				false	stdbuf -o0 rosrun neurobots_scenario set_cup_position_to_table
	Position(waterbottle)=table1			false	stdbuf -o0 rosrun neurobots_scenario set_bottle_position_to_table
Other___(Single___Launch___File)
	Hand2Eye___Calibration					false	stdbuf -o0 roslaunch --wait neurobots_scene_calibration start_omnirob_to_hand_calibration.launch
	Mapping									false	stdbuf -o0 roslaunch omnirob_gmapping gmapping_demo.launch
Robot___Interface 							true 	stdbuf -o0 roslaunch --wait neurobots_launch robot_interface.launch
rviz										true 	stdbuf -o0 roslaunch --wait neurobots_launch rviz.launch 
		