<launch>
	<arg name="camera" default="" />
	<node name="camera_tf_broadcaster_map_to_table_camera" pkg="lbr_camera_calibration" type="camera_tf_broadcaster" output="screen">
		<param name="from_link" value="/map" />
		<param name="to_link" value="/$(arg camera)_camera_link" />
		<!--The following line is only needed if you have a calibration file in custom location -->
		<param name="calibration_file" value="$(find neurobots_calibration)/calibration_files/map_to_table_camera.mat" />
	</node>
</launch>
