<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="omnirob_base">
        <material name="Gray">
            <color rgba="0.25 0.25 0.25 1.0"/>
        </material>

        <link name="base_link" >
          <visual>    
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
              <mesh filename="package://omnirob_description/meshes/omnirob_hull.stl" scale="0.001 0.001 0.001"/>
            </geometry>
           <material name="Gray"/>
          </visual>
          <collision>    
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
              <mesh filename="package://omnirob_description/meshes/omnirob_hull_low_res.stl" scale="0.001 0.001 0.001"/>
            </geometry>
          </collision>
        </link>

        <link name="laser_front_link">
        </link>

        <link name="laser_rear_link">
        </link>

        <joint name="laser_front_joint" type="fixed">
          <parent link="base_link" />
          <child link="laser_front_link" />
          <origin xyz="0.542477 -0.317722 0.13664" rpy="0 0 -0.78893" />
        </joint>

        <joint name="laser_rear_joint" type="fixed">
          <parent link="base_link" />
          <child link="laser_rear_link" />
          <origin xyz="-0.534443 0.32895 0.13664" rpy="0 0 2.31624" />
		</joint>
	</xacro:macro>
</robot>
