[global_config]
[keybindings]
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
  [[Neurobots]]
    [[[child0]]]
      fullscreen = False
      last_active_window = True
      maximised = True
      order = 0
      parent = ""
      position = 65:24
      size = 1855, 1056
      title = Neurobots Demo
      type = Window
    [[[child1]]]
      order = 0
      parent = child0
      position = 417
      ratio = 0.397727272727
      type = VPaned
    [[[child10]]]
      order = 0
      parent = child9
      position = 768
      ratio = 0.631967213115
      type = HPaned
    [[[child13]]]
      order = 1
      parent = child9
      position = 313
      ratio = 0.499210110585
      type = VPaned
    [[[child2]]]
      order = 0
      parent = child1
      position = 408
      ratio = 0.221563342318
      type = HPaned
    [[[child3]]]
      order = 0
      parent = child2
      position = 215
      ratio = 0.52278177458
      type = VPaned
    [[[child6]]]
      order = 1
      parent = child2
      position = 215
      ratio = 0.52278177458
      type = VPaned
    [[[child9]]]
      order = 1
      parent = child1
      position = 1220
      ratio = 0.659299191375
      type = HPaned
    [[[terminal11]]]
      command = eval $(cat `rospack find neurobots_launch`/terminator/commands/planning.command); cp `rospack find neurobots_launch`/terminator/commands/planning.command /tmp; HISTFILE=/tmp/planning.command bash
      order = 0
      parent = child10
      profile = default
      title = Planners
      type = Terminal
      uuid = a98d4caf-046c-4dff-b3da-2419fea6d975
    [[[terminal12]]]
      command = eval $(cat `rospack find neurobots_launch`/terminator/commands/robot_interface.command); cp `rospack find neurobots_launch`/terminator/commands/robot_interface.command /tmp; HISTFILE=/tmp/robot_interface.command bash
      order = 1
      parent = child10
      profile = default
      title = Robot Interface
      type = Terminal
      uuid = e2261fe6-9646-4aa6-bce9-abb39e11bc11
    [[[terminal14]]]
      command = eval $(cat `rospack find neurobots_launch`/terminator/commands/database.command); cp `rospack find neurobots_launch`/terminator/commands/database.command /tmp; HISTFILE=/tmp/database.command bash
      order = 0
      parent = child13
      profile = default
      title = Database
      type = Terminal
      uuid = 2b259c5d-af0a-48ea-aa55-8673cb5acb2b
    [[[terminal15]]]
      command = cp `rospack find neurobots_launch`/terminator/commands/gui.command /tmp; HISTFILE=/tmp/gui.command bash
      order = 1
      parent = child13
      profile = default
      title = GUI
      type = Terminal
      uuid = 3ec1438b-11bc-44e9-ba57-414a100c956c
    [[[terminal4]]]
      command = eval $(cat `rospack find neurobots_launch`/terminator/commands/roscore.command); cp `rospack find neurobots_launch`/terminator/commands/roscore.command /tmp; HISTFILE=/tmp/roscore.command bash
      order = 0
      parent = child3
      profile = default
      title = roscore
      type = Terminal
      uuid = 2b62b748-01e1-43b1-ab30-7d47ab1b98dd
    [[[terminal5]]]
      command = eval $(cat `rospack find neurobots_launch`/terminator/commands/rviz.command); cp `rospack find neurobots_launch`/terminator/commands/rviz.command /tmp; HISTFILE=/tmp/rviz.command bash
      order = 1
      parent = child3
      profile = default
      title = rviz
      type = Terminal
      uuid = 709081f7-f753-46b7-ac62-6afa326d8b7a
    [[[terminal7]]]
      command = eval $(cat `rospack find neurobots_launch`/terminator/commands/robots.command); cp `rospack find neurobots_launch`/terminator/commands/robots.command /tmp; HISTFILE=/tmp/robots.command bash
      order = 0
      parent = child6
      profile = default
      title = Robots
      type = Terminal
      uuid = e5709946-215d-41ff-a290-8c7cfbc76b10
    [[[terminal8]]]
      command = eval $(cat `rospack find neurobots_launch`/terminator/commands/perception.command); cp `rospack find neurobots_launch`/terminator/commands/perception.command /tmp; HISTFILE=/tmp/perception.command bash
      order = 1
      parent = child6
      profile = default
      title = Perception
      type = Terminal
      uuid = 2d23c604-8da4-4a03-bae3-bfae427ba100
[plugins]
[profiles]
  [[default]]
    background_image = None
    exit_action = restart
    login_shell = True
    scroll_on_output = False
    scrollback_infinite = True
